<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head th:replace="fragments :: head"></head>

<body>
	<div th:replace="fragments :: header">Header.</div> 

	<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row"> 

				<!-- Content -->
				<div id="content" class="8u skel-cell-important"> 
					<section>
						<header>
							<h2 th:text="${latestPost.getHeader()}">Посты отсутствуют</h2>
							<span class="byline" th:text="${latestPost.getPublishDate()}">Дата создания поста</span>
						</header>
						<a href="#" class="image full"><img th:src="@{${latestPost.getBlogPost().getImage()}}" alt="" /></a>
						<p th:utext="${latestPost.getBlogPost().getHtmlText()}">Текст поста.</p>
					</section>
				</div>
					
				<div th:replace="fragments :: sidebar">
 					Sidebar.
			</div> 
									
			</div>
		</div>
	</div>
		
	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			2016
		</div>
	</div>
		
	</body>
</html>